<main>
    {{#if hasProducts }}
        <div class="grid">
            {{#each prods}}
                <article>
                </article>
            {{/each}}
        </div>
    {{else}}
        <div>
            <h1>No Products</h1>
        </div>
    {{/if}}
</main>
